:root{
    --navy-blue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud:#F4F4FD;
    --cornflower: #E7E9FC;
    --white: #ffffff;
}
body{
    background: var(--white);
    color: var(--navy-blue);
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
footer{
    background-color: var(--navy-blue);
}
footer .slogan{
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
footer .footer-text{
    color: var(--cloud);

}
.logo{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 800;
}
nav .header-text{
    color: var(--navy-blue);
}
.web-color{
    color: var(--iris);
}

/* portfolio styles */

.site-nav a{
    color:var(--navy-blue);
}
.site-nav .link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--iris);
}

.auth-nav a{
    color:var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.auth-nav a:hover{
    color:var(--iris);
}
.section-title{
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
}
.portfolio-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button{
    color: var(--white);
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.button.primary{
    color: var(--cloud);
    background-color: var(--ocean);
    border-color: transparent;
    border: 1px;
}
.button.order:hover{
    color: var(--iris);
    background: var(--cloud);
    border-color: var(--cornflower);
    border: 1px;
}
.button.secondary{
    color: var(--iris);
    background: var(--cloud);
    border-color: var(--cornflower);
    border: 1px;
}
.button.secondary:hover{
    color: var(--cornflower);
    background: var(--ocean);
    border-color: transparent;
    border: 1px;
}


/* studio styles */
.crew .name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.crew .position{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section .title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section .description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.solutions{
    background: var(--navy-blue);
    
}
.section-title-block{
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}