:root{
    --navy-blue: #2E2F42;
    --slate: #434455;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud:#F4F4FD;
    --cornflower: #E7E9FC;
    --white: #ffffff;
}
body{
    background: var(--white);
    color: var(--slate);
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
.footer{
    background-color: var(--navy-blue);
}
.footer .slogan{
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer .footer-text{
    color: var(--cloud);

}
.logo{
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em
}
.link{
    text-decoration: none;
}
nav .header-text{
    color: var(--navy-blue);
}
.studio-color{
    color: var(--navy-blue);
}
.studio-color-footer{
    color: var(--cloud);
}
.list{
    list-style: none;
}
/* portfolio styles */

.site-nav a{
    color:var(--navy-blue);
}
.site-nav .link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--ocean);
}
.address .link:hover,
.address .link:focus{
    color: var(--ocean);
}

.auth-nav a{
    color:var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address{
    font-style: normal;
}
.auth-nav a:hover{
    color:var(--iris);
}
.section-title{
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.portfolio-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section .title{
    color: var(--navy-blue);
}
.button{
    color: var(--iris);
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--ocean);
}
/* .primary{
    color: var(--cloud);
    background-color: var(--ocean);
    border-color: transparent;
} */
.button.order:hover,
.button.order:focus{
    color: var(--iris);
    background-color: var(--cloud);
    /* border-color: var(--cornflower); */
}
/* .button.secondary{
    color: var(--iris);
    background-color: var(--cloud);
    border-color: var(--cornflower);
}  */
/* .button.secondary:hover,
.button.secondary:focus{
    color: var(--cornflower);
    background-color: var(--ocean);
    border-color: transparent; 
}
.button.order{
    font-family: "Roboto", sans-serif;
    background-color: var(--iris);
    color: var(--white);
}
.button.order:hover,
.button.order:focus{
    background-color: var(--ocean);
} */

.team-block{
    background-color: var(--cloud);
}
.crew li{
    background-color: var(--white);
}

/* studio styles */
.crew .name{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.crew .position{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section .title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section .description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.solutions{
    background: var(--navy-blue);
}
.section-title-block{
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}